{% extends 'default.html' %}

{% load custom_filters%}

{%block title%}
Posts
{%endblock title%}

{%block content%}
<table>
        <tr>
            <td>
                Заголовок
            </td>

            <td>
                Дата публикации
            </td>

            <td>
                Текст
            </td>
        </tr>
        <tr>
            <td>
                {{new.article|censor}}
            </td>

            <td>
                {{new.public_time|date:"d-M-Y G:i"}}
            </td>

            <td>
                {{new.text|censor}}
            </td>
        </tr>
</table>
{% if is_not_authors %}
<h3>Хотите стать автором? Нажимайте на кнопку.</h3>
<button> <a href="{% url 'upgrade' %}"> Хочу стать автором!</a> </button>
{% endif %}

{% if user_auth %}
    {% if current_user not in post.category.user.all %}
    <h3>Подпишитесь на рассылку постов данной категории на ваш e-mail.</h3>
    <button><a href="{% url 'subscribe' new.pk %}">Подписаться</a></button>
    {% else %}
    <h3>Вы можете отписаться от рассылки постов данной категории на ваш e-mail.</h3>
    <button><a href="{% url 'unsubscribe' new.pk %}">Отписаться</a></button>
    {% endif %}
{% endif %}

{%endblock content%}